@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap:200,300,400,500,600,700,800,900');

/*----------------------------------- Colours ---------------*/

.bg-colour-ui-navbar {
    background-color: #333533;
}

.bg-colour-ui-sidebar {
    background-color: #333533;
}

.bg-colour-ui-main {
    background-color: #242423;
}

/*----------------------------------- Text/Margins/Padding ---------------*/

body {
    font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}


/*----------------------------------- Top Navigation ---------------*/

.nav-item a {
    font-family: 'Merriweather', sans-serif;
}

.navbar-light .navbar-nav .nav-item .nav-link {    
    color: #CFDBD5;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
    font-weight: 600;
    color: #F5CB5C;
}

.active {
    font-weight: 600;
}

/*----------------------------------- Sidebar ---------------*/

.sidebar {
    height: 50%;
}

/*----------------------------------- Media Query ---------------*/

/* @media(max-width: 768px) {

} */