@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap:200,300,400,500,600,700,800,900');

/*----------------------------------- Colours ---------------*/

.bg-colour-ui-navbar {
    background-image: linear-gradient(to right, #333533 15%, #d1ce0f, #db7a12, #cc2616 65%);
    background-image: -moz-linear-gradient(to right, #333533 15%, #d1ce0f, #db7a12, #cc2616 65%);
    background-image: -webkit-linear-gradient(to right, #333533 15%, #d1ce0f, #db7a12, #cc2616 65%);
    background-image: -o-linear-gradient(to right, #333533 15%, #d1ce0f, #db7a12, #cc2616 65%);
}

.bg-colour-ui-sidebar {
    background-color: #242423;
}

.bg-colour-ui-main {
    background-color: #161615;
}

.bg-colour-ui-footer {
    background-image: linear-gradient(to right, #333533 15%, #d1ce0f, #db7a12, #cc2616 65%);
    background-image: -moz-linear-gradient(to right, #333533 15%, #d1ce0f, #db7a12, #cc2616 65%);
    background-image: -webkit-linear-gradient(to right, #333533 15%, #d1ce0f, #db7a12, #cc2616 65%);
    background-image: -o-linear-gradient(to right, #333533 15%, #d1ce0f, #db7a12, #cc2616 65%);
}


/*----------------------------------- Text/Margins/Padding ---------------*/

body {
    font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}


/*----------------------------------- Top Navigation ---------------*/

.nav-item a {
    font-family: 'Merriweather', sans-serif;
}

.navbar-light .navbar-nav .nav-item .nav-link {    
    color: rgba(207, 219, 213, 0.7);
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #F5CB5C;
}

.active {
    font-weight: 600;
}

.navbar {
    border-bottom: 1px solid rgba(207, 219, 213, 0.3);
}

.container-header {
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    padding: 0 10px;
    letter-spacing: 3px;
}

/*----------------------------------- Sidebar ---------------*/

.sidebar {
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar-flames {
    background: url("../images/Flames.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.sidebar-overlay {    
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 16.7vw;
    top: 0;
    position: absolute;
}

.sidebar-list {
    border: 1px solid rgba(207, 219, 213, 0.7); 
    width: 14vw;
    font-family: 'Merriweather', sans-serif;
    margin: 15px;
}

.sidebar-list ul {
    padding-left: 0;
    }

.sidebar-list li {    
    list-style-type: none;
    padding-top: 15px;
    font-size: 1.5vw;
    display: flex;  
    justify-content: center;
}

.sidebar-list a {
    text-decoration: none;
    color: rgba(207, 219, 213, 0.7);
}

.sidebar-list a:hover {
    color: #F5CB5C;
    font-weight: 600;
}

/*----------------------------------- Main ---------------*/

.container-main {
    padding: 0;
    margin: 0;
}

main p {
    color: rgb(207, 219, 213);
    padding: 30px 60px;
    margin: 0 60px;
}

.landing-page-container {
    height: 80vh;
}

.band-hero-image-container {
    height: 350px;
    width: 350px;
    border: 1px solid rgba(207, 219, 213, 0.7);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.band-hero-image {
    background: url("../images/Band-main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: band-hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes band-hero-image-zoom {
    from {
      transform: scale(1)
    }
    to {
      transform: scale(1.3)
    }
}

.enter-text-container {
    display: block;
    position: absolute;
    margin: auto;
    height: 5vh;
    width: 100vw;
    bottom: 20vh;
    text-align: center;
    left: 0;
}

.enter-text {
    position: absolute;
    display: block;
    padding: 0;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.enter-text a {
    color: rgba(209,206,15, 0.6);
    text-decoration: none;
    font-size: 50px;
    font-weight: 900;
    background: rgba(0, 0, 0, 0.2);
}

/*----------------------------------- Text Alignment ---------------*/

.align-right {
    float: right;
    text-align: right;
    display: block;
    width: 100%;
}

.align-left {
    float: left;
    text-align: left;
    display: block;
    width: 100%;
}

.align-left p {
    padding: 30px 15px;
    margin: 0 15px;
}

.align-right p {
    padding: 30px 15px;
    margin: 0 15px;
}

/*----------------------------------- Headings ---------------*/

.headings {
    color: #cc2616;
    display: block;
    padding: 30px;
}

.page-heading {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

/*----------------------------------- Divider ---------------*/

.content-divider {
    width: 35%;
    height: 3px;
    background-color: rgba(209,206,15, 0.6);
    border-radius: 2px;
    margin: 30px;
}

/*----------------------------------- Footer ---------------*/

.social-media-container {
    border-top: 1px solid rgba(207, 219, 213, 0.3);
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-media {
    display: inline-block;
    font-size: 2vw;
}

.social-media-list li {
    padding: 15px 30px 0;
    margin: 0 30px;
}

.social-media-list a {    
    color: rgba(207, 219, 213, 0.5);
}

.social-media-list i {
    background: #242423;
    border: 5px solid #242423;
    border-radius: 50%;
}

.social-media-fb:hover {    
    transition: color 0.5s;
    transition-timing-function: ease-in;
    color: #3b5998;    
}

.social-media-ig:hover {    
    transition: color 0.5s;
    transition-timing-function: ease-in;
    color: #dd2a7b;    
}

.social-media-tw:hover {    
    transition: color 0.5s;
    transition-timing-function: ease-in;
    color: #00acee;    
}

.social-media-yt:hover {    
    transition: color 0.5s;
    transition-timing-function: ease-in;
    color: #ff0000;    
}

.social-media-sf:hover {    
    transition: color 0.5s;
    transition-timing-function: ease-in;
    color: #1DB954;    
}

.social-media-it:hover {    
    transition: color 0.5s;
    transition-timing-function: ease-in;
    color: #EA4CC0;    
}

.social-media-bc:hover {    
    transition: color 0.5s;
    transition-timing-function: ease-in;
    color: #629aa9;    
}

/*----------------------------------- Media Query ---------------*/

@media(max-width: 768px) {
    .sidebar {
        display: none;
    }

    main p {
        padding: 15px 30px;
        margin: 0 30px;
    }
}